.contacts {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 10px 100px;
    font-size: small;
    text-align: left;
}

.rights {
    font-size: small;
    
}

.name {
    font-size: x-large;
}

a {
    color:white;
    text-decoration: none;
    margin: 0;
    
}

a:hover {
    color:yellowgreen;
}

i {
    margin: 5px;
}