.LinkShorter {
    padding: 75px;
    text-align: center;
    background-color:yellowgreen;
    height: 100%;
    width: 100%;
    flex-grow: 1;

  }
  .button {
    margin: 16px;
    z-index: 1;
  }

  .mesage {
    color: white;
  }