.mesage {
    color: white;
  }
  
  .qr {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    margin: 16px;
    z-index: 1;
  }

  .note {
    position: absolute;
    z-index: 2;
  }