html,
body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
