.text {
    background-color:white;
    margin: 20px 0px;
    padding: 50px;
    text-indent: 80px;
    text-align: justify;
}

.header {
        text-align: center;
}

.note {
    text-align: center;
}